/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.prompt-leading {
	margin: var(--size-4-1) var(--size-4-3);
}

.prompt-answer {
	margin: var(--size-4-3) 0px;
	background-color: var(--background-primary-alt);
	padding: var(--size-4-3) var(--size-4-3);
	border-radius: var(--radius-s);
	display: flex;
}

.prompt-subheading {
	color: var(--text-muted);
	font-size: 0.7em;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0px 4px;
	text-transform: uppercase;
}

.prompt-suggestion-header {
	font-weight: var(--font-semibold);
	font-size: var(--font-ui-larger);
}

.prompt-suggestion-content {
	font-size: var(--font-ui-small);
	margin-top: var(--size-4-1);
}

.prompt-suggestion-item {
	padding: var(--size-4-2) var(--size-4-3);
}

/* AI Search Modal */

.chat-container {
	padding-top: var(--size-4-3);
	padding-left: var(--size-4-3);
	padding-right: var(--size-4-3);
}

.chat-input-container {
	display: flex;
	align-items: center;
}

.chat-messages {
	height: 400px;
}

.chat-input {
	flex-grow: 1;
	border: none;
	
	font-size: var(--font-ui-larger) !important;
	padding: var(--size-4-3) !important;
	height: auto !important;
}
